<div class="main-page-slider">

  <owl-carousel-o [options]="customOptions" class="custom-carousel "  #owlsaider >
    <ng-container *ngFor="let slide of slidesStore">
      <ng-template carouselSlide>
        <div [ngStyle]="{'background':'url('+slide.image+')','background-size':'cover'}" class="outer"
             (mouseenter)="slide.isHovered = true"
             (mouseleave)="slide.isHovered = false"
        >
          <div
            class="image-overlay"
            [ngStyle]="{'opacity': slide.isHovered ? 0 : 0.5}"

          >
            <p class="header-title">{{slide?.head}}</p>
            <p class="body-title">{{slide?.title}}</p>
          </div>
          <!--          <div class="icon-right w-[46px] h-[80px]">-->
          <!--            <mat-icon class="mat-icon-size" [ngStyle]="{'color':'black'}" (click)="owlsaider.prev()">keyboard_arrow_left</mat-icon>-->
          <!--          </div>-->

          <!--          <div class="icon-left w-[46px] h-[80px] ">-->
          <!--            <mat-icon class="mat-icon-size" [ngStyle]="{'color':'black'}"  (click)="owlsaider.next()" >keyboard_arrow_right</mat-icon>-->
          <!--          </div>-->

<!--          <div class="banners-mid">-->
<!--            -->
<!--          </div>-->


        </div>
      </ng-template>
    </ng-container>
  </owl-carousel-o>


</div>
