<div class="about-us-background">
  <div class="about-us-body">
  <div class="container-about">
    <p class="intro-tag">About Us & Our Work</p>
    <p class="main-header-about-us">GET TO KNOW US</p>
    <p class="paragraph-about-us">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in</p>
    <button class="button-about-us">CONTINUE READING</button>
  </div>
  <div class="image-about-us">
  </div>
  </div>
</div>
