<div class="features-section">
  <div class="grid-items">
    <mat-icon>favorite</mat-icon>
    <p class="header-features-tag">IMAGINE AND CREATE</p>
    <p class="description-features-tag">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt u</p>
  </div>
  <div class="grid-items">
    <mat-icon class="inventory_2-icon">inventory_2</mat-icon>
    <p class="header-features-tag">REMARKABLE STYLE</p>
    <p class="description-features-tag">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt u</p>
  </div>
  <div class="grid-items">
    <mat-icon class="list_alt">list_alt</mat-icon>
    <p class="header-features-tag">SUPREME BLOGGING</p>
    <p class="description-features-tag">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt u</p>
  </div>
  <div class="grid-items">
    <mat-icon class="bookmark_added">bookmark_added</mat-icon>
    <p class="header-features-tag">EASY & FUN</p>
    <p class="description-features-tag">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt u</p>
  </div>
</div>
